# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
# Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
# uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
# poetry.lock
# poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
# pdm.lock
# pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
# pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#   JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#   be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#   and can be added to the global gitignore or merged into this file.  For a more nuclear
#   option (not recommended) you can uncomment the following to ignore the entire idea folder.
# .idea/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore 
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer, 
#   you could uncomment the following to ignore the entire vscode folder
# .vscode/
# Temporary file for partial code execution
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
app copy.py
Code/Data_ingesion/OCR_extraction.py
Research/flake_report.txt
Data/Metadata/OCR_meta.json
Data/vectordb/cinechat.lance/_indices/0076dd2c-e99c-452b-87dd-116a7ac59b68/metadata.lance
Data/vectordb/cinechat.lance/_indices/0076dd2c-e99c-452b-87dd-116a7ac59b68/part_1_docs.lance
Data/vectordb/cinechat.lance/_indices/0076dd2c-e99c-452b-87dd-116a7ac59b68/part_1_invert.lance
Data/vectordb/cinechat.lance/_indices/0076dd2c-e99c-452b-87dd-116a7ac59b68/part_1_tokens.lance
Data/vectordb/cinechat.lance/_indices/1147c5a4-ff98-4ae3-9649-98db0612c235/metadata.lance
Data/vectordb/cinechat.lance/_indices/1147c5a4-ff98-4ae3-9649-98db0612c235/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/1147c5a4-ff98-4ae3-9649-98db0612c235/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/1147c5a4-ff98-4ae3-9649-98db0612c235/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/142de39a-f22f-4d99-aa73-6c25cf93f545/metadata.lance
Data/vectordb/cinechat.lance/_indices/142de39a-f22f-4d99-aa73-6c25cf93f545/part_1_docs.lance
Data/vectordb/cinechat.lance/_indices/142de39a-f22f-4d99-aa73-6c25cf93f545/part_1_invert.lance
Data/vectordb/cinechat.lance/_indices/142de39a-f22f-4d99-aa73-6c25cf93f545/part_1_tokens.lance
Data/vectordb/cinechat.lance/_indices/264a51d2-da08-4434-b1a1-c8dc57f492c5/metadata.lance
Data/vectordb/cinechat.lance/_indices/264a51d2-da08-4434-b1a1-c8dc57f492c5/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/264a51d2-da08-4434-b1a1-c8dc57f492c5/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/264a51d2-da08-4434-b1a1-c8dc57f492c5/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/35410856-232d-4f48-a1c5-0acef89ac546/metadata.lance
Data/vectordb/cinechat.lance/_indices/35410856-232d-4f48-a1c5-0acef89ac546/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/35410856-232d-4f48-a1c5-0acef89ac546/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/35410856-232d-4f48-a1c5-0acef89ac546/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/39a22fea-0412-4055-81f3-0941bc920134/metadata.lance
Data/vectordb/cinechat.lance/_indices/39a22fea-0412-4055-81f3-0941bc920134/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/39a22fea-0412-4055-81f3-0941bc920134/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/39a22fea-0412-4055-81f3-0941bc920134/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/3c41f77f-893a-42d9-ba5d-2f018457d6eb/metadata.lance
Data/vectordb/cinechat.lance/_indices/3c41f77f-893a-42d9-ba5d-2f018457d6eb/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/3c41f77f-893a-42d9-ba5d-2f018457d6eb/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/3c41f77f-893a-42d9-ba5d-2f018457d6eb/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/47ec8855-2e44-4406-a749-aa181d0009ff/metadata.lance
Data/vectordb/cinechat.lance/_indices/47ec8855-2e44-4406-a749-aa181d0009ff/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/47ec8855-2e44-4406-a749-aa181d0009ff/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/47ec8855-2e44-4406-a749-aa181d0009ff/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/4839dbd6-c841-49cb-9f7c-93343575716b/metadata.lance
Data/vectordb/cinechat.lance/_indices/4839dbd6-c841-49cb-9f7c-93343575716b/part_1_docs.lance
Data/vectordb/cinechat.lance/_indices/4839dbd6-c841-49cb-9f7c-93343575716b/part_1_invert.lance
Data/vectordb/cinechat.lance/_indices/4839dbd6-c841-49cb-9f7c-93343575716b/part_1_tokens.lance
Data/vectordb/cinechat.lance/_indices/487e7a75-ce99-4243-9ba4-7ad0feea6954/metadata.lance
Data/vectordb/cinechat.lance/_indices/487e7a75-ce99-4243-9ba4-7ad0feea6954/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/487e7a75-ce99-4243-9ba4-7ad0feea6954/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/487e7a75-ce99-4243-9ba4-7ad0feea6954/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/4e7b5191-2dfd-4d46-a9ad-06ed0d05db36/metadata.lance
Data/vectordb/cinechat.lance/_indices/4e7b5191-2dfd-4d46-a9ad-06ed0d05db36/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/4e7b5191-2dfd-4d46-a9ad-06ed0d05db36/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/4e7b5191-2dfd-4d46-a9ad-06ed0d05db36/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/50753719-67bf-4749-af70-5f27f559cbd4/metadata.lance
Data/vectordb/cinechat.lance/_indices/50753719-67bf-4749-af70-5f27f559cbd4/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/50753719-67bf-4749-af70-5f27f559cbd4/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/50753719-67bf-4749-af70-5f27f559cbd4/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/574358ce-2a5b-451b-b506-636187f8edd6/metadata.lance
Data/vectordb/cinechat.lance/_indices/574358ce-2a5b-451b-b506-636187f8edd6/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/574358ce-2a5b-451b-b506-636187f8edd6/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/574358ce-2a5b-451b-b506-636187f8edd6/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/5cd59723-af9a-4dd9-9244-d6bf5bb76958/metadata.lance
Data/vectordb/cinechat.lance/_indices/5cd59723-af9a-4dd9-9244-d6bf5bb76958/part_1_docs.lance
Data/vectordb/cinechat.lance/_indices/5cd59723-af9a-4dd9-9244-d6bf5bb76958/part_1_invert.lance
Data/vectordb/cinechat.lance/_indices/5cd59723-af9a-4dd9-9244-d6bf5bb76958/part_1_tokens.lance
Data/vectordb/cinechat.lance/_indices/612e50e6-f4ea-4802-a255-2217dcb5ecb5/metadata.lance
Data/vectordb/cinechat.lance/_indices/612e50e6-f4ea-4802-a255-2217dcb5ecb5/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/612e50e6-f4ea-4802-a255-2217dcb5ecb5/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/612e50e6-f4ea-4802-a255-2217dcb5ecb5/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/712919f5-27ef-4117-ac87-cd26a6257279/metadata.lance
Data/vectordb/cinechat.lance/_indices/712919f5-27ef-4117-ac87-cd26a6257279/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/712919f5-27ef-4117-ac87-cd26a6257279/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/712919f5-27ef-4117-ac87-cd26a6257279/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/717199c5-4a1e-4fd7-9e40-81e15644980e/metadata.lance
Data/vectordb/cinechat.lance/_indices/717199c5-4a1e-4fd7-9e40-81e15644980e/part_3_docs.lance
Data/vectordb/cinechat.lance/_indices/717199c5-4a1e-4fd7-9e40-81e15644980e/part_3_invert.lance
Data/vectordb/cinechat.lance/_indices/717199c5-4a1e-4fd7-9e40-81e15644980e/part_3_tokens.lance
Data/vectordb/cinechat.lance/_indices/7d618a8c-d2f4-46c9-a2d7-713d845d9fc6/metadata.lance
Data/vectordb/cinechat.lance/_indices/7d618a8c-d2f4-46c9-a2d7-713d845d9fc6/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/7d618a8c-d2f4-46c9-a2d7-713d845d9fc6/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/7d618a8c-d2f4-46c9-a2d7-713d845d9fc6/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/7f438bfc-bbd6-4a2d-b9c8-7a5e3449b4f5/metadata.lance
Data/vectordb/cinechat.lance/_indices/7f438bfc-bbd6-4a2d-b9c8-7a5e3449b4f5/part_2_docs.lance
Data/vectordb/cinechat.lance/_indices/7f438bfc-bbd6-4a2d-b9c8-7a5e3449b4f5/part_2_invert.lance
Data/vectordb/cinechat.lance/_indices/7f438bfc-bbd6-4a2d-b9c8-7a5e3449b4f5/part_2_tokens.lance
Data/vectordb/cinechat.lance/_indices/89ec561a-6c54-4956-a98b-98411747937c/metadata.lance
Data/vectordb/cinechat.lance/_indices/89ec561a-6c54-4956-a98b-98411747937c/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/89ec561a-6c54-4956-a98b-98411747937c/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/89ec561a-6c54-4956-a98b-98411747937c/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/95892ac4-a103-4ece-9519-9889723dc871/metadata.lance
Data/vectordb/cinechat.lance/_indices/95892ac4-a103-4ece-9519-9889723dc871/part_1_docs.lance
Data/vectordb/cinechat.lance/_indices/95892ac4-a103-4ece-9519-9889723dc871/part_1_invert.lance
Data/vectordb/cinechat.lance/_indices/95892ac4-a103-4ece-9519-9889723dc871/part_1_tokens.lance
Data/vectordb/cinechat.lance/_indices/9fb05a15-f7f2-425f-8bc6-8cf9ea8d0851/metadata.lance
Data/vectordb/cinechat.lance/_indices/9fb05a15-f7f2-425f-8bc6-8cf9ea8d0851/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/9fb05a15-f7f2-425f-8bc6-8cf9ea8d0851/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/9fb05a15-f7f2-425f-8bc6-8cf9ea8d0851/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/a019a59b-ee5a-4c2b-b5a3-542235bc922a/metadata.lance
Data/vectordb/cinechat.lance/_indices/a019a59b-ee5a-4c2b-b5a3-542235bc922a/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/a019a59b-ee5a-4c2b-b5a3-542235bc922a/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/a019a59b-ee5a-4c2b-b5a3-542235bc922a/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/ab4926e7-2dc7-4dc5-aac4-3f1d7a592a74/metadata.lance
Data/vectordb/cinechat.lance/_indices/ab4926e7-2dc7-4dc5-aac4-3f1d7a592a74/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/ab4926e7-2dc7-4dc5-aac4-3f1d7a592a74/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/ab4926e7-2dc7-4dc5-aac4-3f1d7a592a74/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/ac23f9cc-11a6-4cdb-b133-b1924919d416/metadata.lance
Data/vectordb/cinechat.lance/_indices/ac23f9cc-11a6-4cdb-b133-b1924919d416/part_2_docs.lance
Data/vectordb/cinechat.lance/_indices/ac23f9cc-11a6-4cdb-b133-b1924919d416/part_2_invert.lance
Data/vectordb/cinechat.lance/_indices/ac23f9cc-11a6-4cdb-b133-b1924919d416/part_2_tokens.lance
Data/vectordb/cinechat.lance/_indices/b2377a79-c2b5-48d2-8a65-3e2d46d99f62/metadata.lance
Data/vectordb/cinechat.lance/_indices/b2377a79-c2b5-48d2-8a65-3e2d46d99f62/part_1_docs.lance
Data/vectordb/cinechat.lance/_indices/b2377a79-c2b5-48d2-8a65-3e2d46d99f62/part_1_invert.lance
Data/vectordb/cinechat.lance/_indices/b2377a79-c2b5-48d2-8a65-3e2d46d99f62/part_1_tokens.lance
Data/vectordb/cinechat.lance/_indices/b996aac0-83a6-4a65-8518-d125c494b3e7/metadata.lance
Data/vectordb/cinechat.lance/_indices/b996aac0-83a6-4a65-8518-d125c494b3e7/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/b996aac0-83a6-4a65-8518-d125c494b3e7/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/b996aac0-83a6-4a65-8518-d125c494b3e7/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/c848a95f-120e-4a1c-925d-3b948051b3c4/metadata.lance
Data/vectordb/cinechat.lance/_indices/c848a95f-120e-4a1c-925d-3b948051b3c4/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/c848a95f-120e-4a1c-925d-3b948051b3c4/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/c848a95f-120e-4a1c-925d-3b948051b3c4/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/c86ac28f-fa21-4454-87f0-a759e4ef2933/metadata.lance
Data/vectordb/cinechat.lance/_indices/c86ac28f-fa21-4454-87f0-a759e4ef2933/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/c86ac28f-fa21-4454-87f0-a759e4ef2933/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/c86ac28f-fa21-4454-87f0-a759e4ef2933/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/cca124d7-be1c-4b9a-a510-ae3ea73c0959/metadata.lance
Data/vectordb/cinechat.lance/_indices/cca124d7-be1c-4b9a-a510-ae3ea73c0959/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/cca124d7-be1c-4b9a-a510-ae3ea73c0959/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/cca124d7-be1c-4b9a-a510-ae3ea73c0959/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/d21ec0e9-f5db-4886-9fe4-adec04aff6d3/metadata.lance
Data/vectordb/cinechat.lance/_indices/d21ec0e9-f5db-4886-9fe4-adec04aff6d3/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/d21ec0e9-f5db-4886-9fe4-adec04aff6d3/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/d21ec0e9-f5db-4886-9fe4-adec04aff6d3/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/e1c4c90f-5351-4711-91be-b834d40e4488/metadata.lance
Data/vectordb/cinechat.lance/_indices/e1c4c90f-5351-4711-91be-b834d40e4488/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/e1c4c90f-5351-4711-91be-b834d40e4488/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/e1c4c90f-5351-4711-91be-b834d40e4488/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/e2af5432-2940-4bc8-b044-1fa9dd372543/metadata.lance
Data/vectordb/cinechat.lance/_indices/e2af5432-2940-4bc8-b044-1fa9dd372543/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/e2af5432-2940-4bc8-b044-1fa9dd372543/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/e2af5432-2940-4bc8-b044-1fa9dd372543/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/e6406aa7-e017-4f51-b352-cc8b89fbe3db/metadata.lance
Data/vectordb/cinechat.lance/_indices/e6406aa7-e017-4f51-b352-cc8b89fbe3db/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/e6406aa7-e017-4f51-b352-cc8b89fbe3db/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/e6406aa7-e017-4f51-b352-cc8b89fbe3db/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/e786c56f-3eb8-43aa-ad86-bcc020629004/metadata.lance
Data/vectordb/cinechat.lance/_indices/e786c56f-3eb8-43aa-ad86-bcc020629004/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/e786c56f-3eb8-43aa-ad86-bcc020629004/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/e786c56f-3eb8-43aa-ad86-bcc020629004/part_0_tokens.lance
Data/vectordb/cinechat.lance/_indices/ff802f1c-789c-4d68-a763-c51c390c6f3c/metadata.lance
Data/vectordb/cinechat.lance/_indices/ff802f1c-789c-4d68-a763-c51c390c6f3c/part_0_docs.lance
Data/vectordb/cinechat.lance/_indices/ff802f1c-789c-4d68-a763-c51c390c6f3c/part_0_invert.lance
Data/vectordb/cinechat.lance/_indices/ff802f1c-789c-4d68-a763-c51c390c6f3c/part_0_tokens.lance
Data/vectordb/cinechat.lance/_transactions/0-fff8a1fd-87d1-4ac5-934c-0a480a03d7c3.txn
Data/vectordb/cinechat.lance/_transactions/1-fa792ffd-a026-4c6d-aefa-d6ac38e9d165.txn
Data/vectordb/cinechat.lance/_transactions/2-6743fbdc-d104-4550-992b-13e7b4e6b2de.txn
Data/vectordb/cinechat.lance/_transactions/3-85bbde81-27ee-41db-b0bf-d88a19df4e94.txn
Data/vectordb/cinechat.lance/_transactions/4-fe8c8a79-a45a-4b72-90ee-576a119e6622.txn
Data/vectordb/cinechat.lance/_transactions/5-2c6e7cfb-aa14-4b29-a50e-55fe5c8a2054.txn
Data/vectordb/cinechat.lance/_transactions/6-3cbccd43-d686-450b-9530-e1825d93aa4d.txn
Data/vectordb/cinechat.lance/_transactions/7-39b2d926-3008-44b2-8008-a10255297a0f.txn
Data/vectordb/cinechat.lance/_transactions/8-18e01506-3065-4e27-9992-eb37b3abb4a5.txn
Data/vectordb/cinechat.lance/_transactions/9-b4d3f462-d1bd-4f0f-b89f-8a1e69317b25.txn
Data/vectordb/cinechat.lance/_transactions/10-d0e66bde-48f5-4371-9fdf-a71f937940b4.txn
Data/vectordb/cinechat.lance/_transactions/11-eda6ee05-9de4-44ac-a4d6-9a9496283860.txn
Data/vectordb/cinechat.lance/_transactions/12-93719a4d-fbe5-420f-ba7b-272c21aa3845.txn
Data/vectordb/cinechat.lance/_transactions/13-c0bf992a-0a70-40fa-86c2-aef9bb5c521e.txn
Data/vectordb/cinechat.lance/_transactions/14-5e37d539-6d0b-4394-8be4-fee524da7fdd.txn
Data/vectordb/cinechat.lance/_transactions/15-f52ec3c5-af9d-4ed4-ac5b-2e0ca629f8fa.txn
Data/vectordb/cinechat.lance/_transactions/16-d3c0d8e3-145d-40d1-ba8c-b71ef58fdcf8.txn
Data/vectordb/cinechat.lance/_transactions/17-a5cb4a80-cfd5-4a4c-be90-db4755062665.txn
Data/vectordb/cinechat.lance/_transactions/18-d30977bc-0caf-4525-944e-72f0c207b2ab.txn
Data/vectordb/cinechat.lance/_transactions/19-db5562a5-1b9f-4786-8cda-5f439d97b768.txn
Data/vectordb/cinechat.lance/_transactions/20-c4023e56-5271-48aa-b71e-87d4fa56bb3e.txn
Data/vectordb/cinechat.lance/_transactions/21-7f6812a2-9683-480f-80a1-fae547126a42.txn
Data/vectordb/cinechat.lance/_transactions/22-e5c789a7-fa0c-4d51-aceb-425e3ed959a5.txn
Data/vectordb/cinechat.lance/_transactions/23-175822c7-d072-4170-9114-edecb1b954ff.txn
Data/vectordb/cinechat.lance/_transactions/24-a050bd06-3ecf-41d7-b288-0977a4267586.txn
Data/vectordb/cinechat.lance/_transactions/25-8953139e-c935-4a36-8a0c-20bc33874c96.txn
Data/vectordb/cinechat.lance/_transactions/26-36d5648c-bfa8-4419-a11e-b21dc7a9ef64.txn
Data/vectordb/cinechat.lance/_transactions/27-95acfac8-4c65-4049-af4e-431b2805f0ce.txn
Data/vectordb/cinechat.lance/_transactions/28-2bad1450-d971-406a-9c63-c3b559465485.txn
Data/vectordb/cinechat.lance/_transactions/29-4c45ebf9-a03e-4650-988d-3756d2069f21.txn
Data/vectordb/cinechat.lance/_transactions/30-466a0302-a9e0-4657-831c-5c4856a8f90d.txn
Data/vectordb/cinechat.lance/_transactions/31-8485c983-b287-47f2-b434-405ff9ef67a8.txn
Data/vectordb/cinechat.lance/_transactions/32-0970244c-3588-4b32-9e78-954e0de5a861.txn
Data/vectordb/cinechat.lance/_transactions/33-b27c4337-c17c-410f-aba8-f18f71a9b4fa.txn
Data/vectordb/cinechat.lance/_transactions/34-76876171-85b5-45cb-be01-4e031d490d06.txn
Data/vectordb/cinechat.lance/_transactions/35-bf4eed4b-ef0c-4db4-abc8-745a9cc67f0d.txn
Data/vectordb/cinechat.lance/_transactions/36-4246c65c-a3da-41f7-ab2c-11f9537569cb.txn
Data/vectordb/cinechat.lance/_transactions/37-fb5ee235-62ed-42ab-8751-0001e8c994ed.txn
Data/vectordb/cinechat.lance/_transactions/38-06e74a82-dc31-467d-a6f1-606180328472.txn
Data/vectordb/cinechat.lance/_transactions/39-bae5e67c-c6e9-4487-9bd3-63e71b64c783.txn
Data/vectordb/cinechat.lance/_transactions/40-66c002a1-fe16-468f-b333-21e3f8999437.txn
Data/vectordb/cinechat.lance/_transactions/41-420b9861-3a9f-442e-a164-d2425a8dcf87.txn
Data/vectordb/cinechat.lance/_transactions/42-0bf56e98-0896-48c3-8fb0-ce21f9109090.txn
Data/vectordb/cinechat.lance/_transactions/43-20cb5a8a-f47c-41ef-b271-10eabb5d1f02.txn
Data/vectordb/cinechat.lance/_transactions/44-2b0d4676-ce07-44fd-abe9-57758085070b.txn
Data/vectordb/cinechat.lance/_transactions/45-de6521b0-4a4d-4816-874b-8e9780281ecd.txn
Data/vectordb/cinechat.lance/_transactions/46-7c5f2366-b4fc-4bb0-a2b7-f495b5f2a1b1.txn
Data/vectordb/cinechat.lance/_transactions/47-12bce538-3f73-430d-b589-6780f6e31e0f.txn
Data/vectordb/cinechat.lance/_transactions/48-72e0158d-dbe3-4242-8862-ed1d0a961657.txn
Data/vectordb/cinechat.lance/_transactions/49-eb0f4d04-9faf-4493-bb54-86b87a1ca166.txn
Data/vectordb/cinechat.lance/_transactions/50-944c43a6-f430-4c53-b063-d63c2060a600.txn
Data/vectordb/cinechat.lance/_transactions/51-715f07c5-4805-4605-be93-6f5a8897fe3b.txn
Data/vectordb/cinechat.lance/_transactions/52-59672341-574f-4e40-ae2b-4924c314eac2.txn
Data/vectordb/cinechat.lance/_transactions/53-32c6e782-8cca-4838-be1c-4eb260caa1e3.txn
Data/vectordb/cinechat.lance/_transactions/54-d8486cfd-89b2-4054-8d57-4494e3b2195b.txn
Data/vectordb/cinechat.lance/_transactions/55-12ea6758-3678-4b8d-b6ed-9aa3eb225d1c.txn
Data/vectordb/cinechat.lance/_transactions/56-f039829f-7694-4175-94c1-c280082188af.txn
Data/vectordb/cinechat.lance/_transactions/57-84556534-4f8e-45a1-80f2-2cd1d974f798.txn
Data/vectordb/cinechat.lance/_transactions/58-7a98fae9-71d7-416f-8ede-664006262c78.txn
Data/vectordb/cinechat.lance/_transactions/59-8e8a7e2c-a450-40fe-b17d-823638f48afa.txn
Data/vectordb/cinechat.lance/_transactions/60-0acb48f4-6e6c-41f6-8ff5-b0c076045055.txn
Data/vectordb/cinechat.lance/_transactions/61-326465ba-a6e4-4f8a-aff1-55ef63622ab3.txn
Data/vectordb/cinechat.lance/_transactions/62-c3595b6d-13e7-4908-8c10-12af533609ca.txn
Data/vectordb/cinechat.lance/_transactions/63-13a1dc60-1efd-48ed-84b4-84f782285d81.txn
Data/vectordb/cinechat.lance/_transactions/64-50446d8a-6425-49a3-98e5-bc03ad354f3b.txn
Data/vectordb/cinechat.lance/_transactions/65-43f1208b-1a55-4b43-9ed5-594ca4960afc.txn
Data/vectordb/cinechat.lance/_transactions/66-41a8bd19-5226-410b-b784-79bbb777ceae.txn
Data/vectordb/cinechat.lance/_transactions/67-cf3830a3-69e0-4a6a-bdb1-8b83e311c5db.txn
Data/vectordb/cinechat.lance/_transactions/68-9f746440-1a41-40c0-9bd5-39c8ce73e451.txn
Data/vectordb/cinechat.lance/_transactions/69-941d0bbb-e51e-45ba-81fa-1a442a9703b8.txn
Data/vectordb/cinechat.lance/_transactions/70-4a8332ea-47b4-42b4-9128-2c1fdf524ef0.txn
Data/vectordb/cinechat.lance/_transactions/71-251a8186-a2d6-48d2-982d-4345ac57ea16.txn
Data/vectordb/cinechat.lance/_transactions/72-2b5c4568-160f-4acb-a1c5-a64ab732b7f8.txn
Data/vectordb/cinechat.lance/_transactions/73-478b2373-2bc9-4576-9476-4f7f0aed31de.txn
Data/vectordb/cinechat.lance/_transactions/74-46631a32-4488-41a3-89f6-4f83109318a4.txn
Data/vectordb/cinechat.lance/_transactions/75-0fe9cb8d-057a-4da0-beba-87a5e647c0a2.txn
Data/vectordb/cinechat.lance/_transactions/76-70d680bc-f34f-4229-95a0-19147ee91820.txn
Data/vectordb/cinechat.lance/_versions/latest_version_hint.json
Data/vectordb/cinechat.lance/data/000000001110001000001101e4d98c4b8f999ffb503634500a.lance
Data/vectordb/cinechat.lance/data/000101001111001001111000f17eb44981b25ef2dd1c2628a4.lance
Data/vectordb/cinechat.lance/data/000101111100110111000110bbade84d98a10a42bfac4cccac.lance
Data/vectordb/cinechat.lance/data/001000110101100101100100e578d04fbb9b1a8cd15fa7702c.lance
Data/vectordb/cinechat.lance/data/001100101011100011111010c85f5d47ae9994ff20c21494f2.lance
Data/vectordb/cinechat.lance/data/0001111011011110000011106fad0844b7ae94642ff0df510c.lance
Data/vectordb/cinechat.lance/data/010011001101000010001101dc736a4560ad701d066c603561.lance
Data/vectordb/cinechat.lance/data/010100011010111110001011fd55b848628074cd8b0487f687.lance
Data/vectordb/cinechat.lance/data/0010110111110000001010107fe7864fe0b2a6ecf7109f549d.lance
Data/vectordb/cinechat.lance/data/0010111111110110110100107b209b4e008831f4407eb355c8.lance
Data/vectordb/cinechat.lance/data/011100011011110101111010e6cb2a48e0bfbebe8a6b51ad5b.lance
Data/vectordb/cinechat.lance/data/011101001110010101000110fd3c7f40c3aa44cec88930a3fa.lance
Data/vectordb/cinechat.lance/data/0011110011010011011101011a5137429ba059371487e97319.lance
Data/vectordb/cinechat.lance/data/0100101010100011001101005c5f51495a832c4ecf305e0aaf.lance
Data/vectordb/cinechat.lance/data/0101011101001100111100008ebb044ee5ad0c03e4a3aceb33.lance
Data/vectordb/cinechat.lance/data/101100011111100001110000f60b944905b67b05c65573e2d2.lance
Data/vectordb/cinechat.lance/data/110000011100010111111010d661344cd6a5aaad1352c44a16.lance
Data/vectordb/cinechat.lance/data/110010000111101101100111a8f80b444181bfdcf8c3d16fb0.lance
Data/vectordb/cinechat.lance/data/0110010111101100000001102e67cd4d12a7fc8e36cd93424a.lance
Data/vectordb/cinechat.lance/data/110011000001100101110111cd38684eccac5e7270398a53c7.lance
Data/vectordb/cinechat.lance/data/110100110111110101100000ee5090431fb29f01bdd7299690.lance
Data/vectordb/cinechat.lance/data/110111011100011001010101f2f5ee4644bae5cf4e2167c789.lance
Data/vectordb/cinechat.lance/data/1000100110000000101101101f0e3640a9981c90594e55ea2e.lance
Data/vectordb/cinechat.lance/data/01001111110111011000011078a81d49d58d76894c547145fd.lance
Data/vectordb/cinechat.lance/data/1010000101010110000100015f003e4188a563bb6da4525942.lance
Data/vectordb/cinechat.lance/data/1010000111011010100010101f4c774edb973b0ece1135cfd2.lance
Data/vectordb/cinechat.lance/data/01010101011001010000110021aeb1436a87172dad648d9351.lance
Data/vectordb/cinechat.lance/data/01010111001111101010101046e94940aabd73152d1682a2fc.lance
Data/vectordb/cinechat.lance/data/1100010000000111111110118e40584a7f9d0b496b64a9bdea.lance
Data/vectordb/cinechat.lance/data/1110101101001010000000016c5eac45adaca31037ebb80226.lance
Data/vectordb/cinechat.lance/data/10001001101101011110010167a7bb4cac917395cc74d5f16d.lance
Data/vectordb/cinechat.lance/data/10011001101011000110000139bc754d089b7018391d979f0f.lance
Data/vectordb/cinechat.lance/data/10100111111001101001110173f0684146978c6c5ee9f9b41f.lance
Data/vectordb/cinechat.lance/data/10110001100111110100111157bbdd45eba80929d7d37e57b3.lance
Data/vectordb/cinechat.lance/data/11010010001110111110111017a2c24f25874f313c4b9c2a90.lance
Data/vectordb/cinechat.lance/data/11011000010001111100001117a76f4ee6b5291a121260242e.lance
Data/vectordb/cinechat.lance/data/0011111101110101101110116110e940dbb43625424f4a7f27.lance
Data/vectordb/cinechat.lance/data/0110111110001110011000004777fe4f5bb3d3b1a727cc6627.lance
Data/vectordb/cinechat.lance/data/1100010010011000001000004827ea4c5b9e138950bc91410e.lance
Data/vectordb/cinechat.lance/data/1111111010000101101001103276de4161a29b3654b4c99e4f.lance
Data/vectordb/cinechat.lance/data/10111001111000010110100159804c4dbd928916ea28628e7f.lance
Data/vectordb/__manifest/_transactions/0-d43bc07f-2785-4cac-9652-b98f0c6ca8f5.txn
