streamlit
python-dotenv
Pillow
yt-dlp
ffmpeg
opencv-python
opencv-contrib-python
moviepy
SpeechRecognition
openai-whisper
torch 
torchvision 
torchaudio
pytesseract
tesseract
groq
transformers
accelerate
huggingface-hub
pylance